.progress-fill {
  background-color: #76c7c0;
  height: 10px;
  width: 70%; /* Adjust this width for actual progress */
}

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  background-color: #e0f7fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}